body {
background-color: #0f2a2e;
color: whitesmoke;
}
.container {
    background-color: #ffffff1a;
    width:400px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);

}
.title, .instruction {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
legend {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
fieldset {
    border-radius: 10px;
}
.submit-button {
    margin: 15px auto;
    padding: 10px 20px;
    text-align: center;
    display: block;
    font-size: 1rem;
    border-radius: 20px;
}
.submit-button:hover {
    background-color: #ffffff1a;
    cursor: pointer;
    color: whitesmoke;
}
footer {
    text-align: center;
}
input, textarea {
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid whitesmoke;
    background-color: #ffffff1a;
}
input[type="radio"] {
    appearance: none;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
}
input[type="radio"]:checked {
    background-color: whitesmoke;
    border-color: #0079d7;
}